<ul>
<li>First name: <%= user.firstname %></li>
<li>Last name: <%= user.lastname %></li>
<li>Email: <%= user.email %></li>
<li>Password: <%= user.password %></li>
</ul>
<button><a href="/users">Back to Users</a></button>