<div class="header-text">
<h1 class="website-title">Schedule website</h1>
<p class="website-subtitle">Mr. Coffee Appointment Management System</p>
</div>
<hr>
<ul class="nav">
    <li><a href="/">Homepage</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/schedules">Schedules</a></li>
    <!-- <li><a href="#">User</a></li> -->
    <li><a href="/users/new">New User</a></li>
    <!-- <li><a href="#">Schedule</a></li> -->
    <li><a href="/schedules/new">New Schedule</a></li>
</ul>