<h1 class="website-title">Schedule website</h1>
<hr>
<ul class="nav">
    <li><a href="/">Homepage</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/schedules">Schedules</a></li>
    <li>User</li>
    <li>New User</li>
    <li>Schedule</li>
    <li>New Schedule</li>
</ul>